.dropdown {
  display: flex;
  flex-direction: column;

  position: relative;

  &__select {
    background-color: lightblue;
    cursor: pointer;
  }

  &__options-list {
    background-color: lightgray;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
  }

  &__option {
    cursor: pointer;
  }
}
